{% macro itemlist(items, type) -%}
<div class="col">
    <h2>{{type}}</h2>
    <ul class="list-group mb-4">
        {% for item in items %}
        <li class="row">
            <div class="col-2 d-none">{{item.id}}</div>
            <div class="col-3">{{item.status}}</div>
            <div class="col">{{item.name}}</div>
            <div class="col">
                {% if item.status != 'Done' %}
                <form action={{ url_for('complete', id=item.id, list_id=item.list_id) }} method="post">
                    <button type="submit">
                        {% if item.status == 'To Do' %}
                        Start Doing
                        {% elif item.status == 'Doing' %}
                        Mark as Done
                        {% endif %}
                    </button>
                </form>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}