{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    {% from 'components.html' import itemlist %}    
    {{itemlist(view_model.todo_items, 'TODO Items')}}
    {{itemlist(view_model.doing_items, 'Doing Items')}}
    {{itemlist(view_model.done_items, 'Done Items')}}
  </div>

  <form
    id = "create-todo"
    action="/create"
    method="post">
    <input type="text" name="title" />
    <button type="submit">Create TODO</button>
  </form>
{% endblock %}