{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for item in view_model.items %}
        <li class="row">
          <div class="col-2 d-none">{{item.id}}</div>
          <div class="col-2">{{item.status}}</div>
          <div class="col">{{item.name}}</div>
          <div class="col">
            <form action={{ url_for('complete', id = item.id, status = item.list_id) }} method="post">
              <button type="submit">Done</button>
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form
    action="/create"
    method="post">
    <input type="text" name="title" />
    <button type="submit">Create TODO</button>
  </form>
{% endblock %}